body {
  padding: 0px;
  margin: 0px;
}

#app-container {
  background-color: gray;
  width: 600px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#search-box {
  width: 100%;
  padding: 5px;
  margin: 0px;
  border:0px none;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  background-color: white;
  font-family: Verdana;
  font-size: 26px;
}

#search-box-divider {
  background-color: transparent;
  padding-top: 0px;
  height: 8px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#results-container {
  background-color:white;
  width: 100%;
}

.result {
  width:100%;
  height:25px;
  background-color: rgb(200, 200, 200);
  border-top: 1px solid white;
  border-bottom: 1px solid black;
}